<div class="container">
  <div class="col-100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1 i18n="|Page title for redirect component@@redirect.page-header">
            Web RTC Demo
          </h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            i18n="
              |Page description for redirect
              component@@redirect.logging-in-listitem"
          >
            Logging in... Please Wait...
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
