<div class="container">
  <!-- PROJECTS LIST -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1 i18n="page-title">Connections</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            (click)="selectProject(project)"
            *ngFor="let project of projects"
          >
            <h3 mat-line>
              {{ project.title }}
            </h3>
            <p mat-line>
              {{ project.details }}
            </p>
            <button mat-icon-button>
              <mat-icon>{{ project.icon }}</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- PROJECT DETAILS -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>
            {{ currentProject?.title }}
          </h1>
        </mat-card-title>
      </mat-card-header>
      <form>
        <mat-card-content>
          <ng-template #viewContainerRef></ng-template>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
